@model HospitalApplication.Domain.DomainModels.TransferRequest

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>


<!-- TODO: Create Table for TransferRequest -->
<table class="table">
    <!-- Look at the table from any Index page for help -->
    <!-- Iterate throught Model.PatientTransfer -->
    <!-- Display: Patient Name, Patient Last Name, Patient Admission Date-->
    <thead>
        <tr>
            <th>
                Patient First Name
            </th>
            <th>
                Patient Last Name
            </th>
            <th>
                Patient Admission Date
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.PatientTransfers)
        {
            <tr>
                <td>
                    @item.Patient.FirstName
                </td>
                <td>
                    @item.Patient.LastName
                </td>
                <td>
                    @item.Patient.AdmissionDate
                </td>
            </tr>
        }
    </tbody>
</table>


<!-- TODO: Display Total Count -->
<div>
    <p>Total Count: @ViewBag.Count</p>
</div>
